## Users for testing, a file named .env.test at root directory:
## Env for testing
## drop schema set to true
DROP_SCHEMA=true
## run migrations set to true
RUN_MIGRATIONS=true
## run seed set to false
RUN_SEEDS=false 

TEST_API_PORT=8002
TEST_API_HOST=localhost
TEST_API_PROTOCOL=http

TEST_DB_PORT=5433
TEST_DB_HOST=localhost

# default db for demo purpose
TEST_POSTGRES_USER=postgres
TEST_POSTGRES_PASSWORD=postgres
TEST_POSTGRES_DB=postgres

# Anything, cannot be undefined
JWT_SECRET=

# Login token expiry in seconds
TOKEN_LIFE_SECONDS=3600